@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Kirang+Haerang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
	font-family: 'Jua', sans-serif;
}
h1 {
	font-family: 'Do Hyeon', sans-serif;
}	